.services-container {
    padding: 7%;
}
header h1 {
    padding: unset;
    padding-right: 80%;
}
header {
    text-align: left;
}
.container {
    display: flex;
}
.container img {
    width: 55%;
    height: 75vh;
}

.text-container {
    width: 50%;
}
.text-container h5 {
    font-size: 1.6rem;
    padding: 13% 15%;
    line-height: 37px;
}
.text-container p {
    font-size: 1rem;
    padding: 11% 15%;
    line-height: 30px;
}
.text-container h5 {
    background-color: rgb(255,177,66);
}

.cards {
    width: 100%;
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card {
    width: 45%;
    height: 28vh;
    display: flex;
    padding: 35px 2rem;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    transition: 1s ease;
}
.card:hover {
    transition: 1s ease;
    box-shadow: 0px 12px 27px rgba(0, 0, 0, 0.1), -35px 35px 49px rgba(0, 0, 0, 0.09), 78px 78px 66px rgba(0, 0, 0, 0.05);
}
.icon {
    font-size: 2rem;
}
.card h3 {
    font-size: 1.7rem;
    cursor: pointer;
}
.card h3:hover {
    color: rgb(255,177,66);
}
.card p {
    color: #878c8d;
    font-size: 0.8rem;
    line-height: 20px;
}

.float {
    -webkit-animation: float 2.5s linear infinite;
    animation: float 2.5s linear infinite;
  }
  
  @-webkit-keyframes float {
    0%,
    100% {
      -webkit-transform: translateY(0rem);
      transform: translateY(0rem);
    }
    50% {
      -webkit-transform: translateY(1rem);
      transform: translateY(1rem);
    }
  }
  
  @keyframes float {
    0%,
    100% {
      -webkit-transform: translateY(0rem);
      transform: translateY(0rem);
    }
    50% {
      -webkit-transform: translateY(1rem);
      transform: translateY(1rem);
    }
  }
  



/* ---- meet css */

.meet-container {
    width: 100%;
    padding: 10%;
    display: flex;
    justify-content: center;
}
.meet-left,
.meet-right {
    width: 50%;
}
.meet-left-text {
    padding: 7%;
    padding-bottom: 1%;
}
.meet-left-text h1{
    font-size: 3rem;
}

.meet-container img {
    width: 100%;
    height: 40%;
    padding: 1% 5%;
}